/*font family from online source*/

@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'), url('3Dumb-webfont.woff2') format('woff2'), url('3Dumb-webfont.woff') format('woff'), url('3Dumb-webfont.ttf') format('truetype'), url('3Dumb-webfont.svg#3dumbregular') format('svg');
}

body {
    font-family: '3dumbregular';
    background-image: url("Geo.jpg");
    /* stretching the image instead of tiles*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}


/*Navigation bar stretching 75%*/

#nav {
    list-style-type: none;
    margin-top: 50px;
    margin-left: 25%;
    width: 75%;
    height: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: blue;
    padding-bottom: 40px;
}

ul li {
    float: right;
    list-style: none;
    margin-right: 3em;
    margin-bottom: 2em;
}

li a {
    color: black;
    text-decoration: none;
    float: left;
    font-size: 45px;
    font-weight: bold;
    padding: 12px;
}

.left_rotation:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
    color: #7eb9be;
}

.right_rotation:hover {
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
    color: #ff5050;
}